* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	display: flex;
	padding: 0 16px;
	
	
	
}
.header-items {
	display: flex;
	align-items: ;
	gap: 16px;
}
.first-item {
	color: #fff;
	opacity: 40%;
}
.second-item {
	color: #fff;
	opacity: 40%;
}
.third-item {
	color: #fff;
	font-weight: bold;

}
.active-link {
	font-weight: bold;
	opacity: 100%;
}
.active-underline {
	position: absolute;
	right: 165px;
	bottom: 5px;
	width: 25px;
	height: 3px;
	background-color: #fff;
}
.reel-header .bi-play-btn {
	color: #fff;
	font-weight: bold;
	font-size: 18px;
}
.reel-header .bi-search {
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	padding: 20px 0;
	background-color: black;
}

.bottom-interactions {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
}

.bottom-interactions i {
	display: block;
	
}
.pulsante-plus {
	font-size: 40px;
	transform: rotate(90deg);
	border-top: 1px solid greenyellow;
	filter: blur(1px);
	border-bottom:1px solid fuchsia;
}
.button-2 {
	opacity: 40%;
}
.button-3 {
	opacity: 40%;
}
.button-4 {
	opacity: 40%;
}



/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
	/* Inserisci qui sotto 
	le tue regole, se necessario. */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	gap: 15px;
	height: 50%;
	top: 30%;
	color: #fff;
}
.sidebar img {
	width: 60px;
	border-radius: 60px;
		
}
.sidebar .bi-plus-circle-fill {
	
	color: rgb(249, 7, 7);
	
}
.sidebar-group-2 .bi-heart-fill {
	font-size: 28px;
	font-weight: bold;
}
.sidebar-group-3 .bi-chat-dots {
	font-size: 32px;
	font-weight: bold;
}
.sidebar-group-4 .bi-bookmark-fill {
	font-size: 30px;
}
.sidebar-group-5 .bi-sign-turn-slight-right {
	font-size: 35px;
}


/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

/* --------------------- */
